{% extends "layout/base.html" %}
{% block title %}Admin - Editar producto{% endblock %}

{% block content %}
<div class="form-box">
  <h2>Editar producto</h2>

  {% if producto.imagen %}
    <p style="text-align:center;">
      <img src="{{ url_for('store.imagen_producto', filename=producto.imagen) }}"
           style="max-width:150px; border-radius:10px;" alt="{{ producto.nombre }}">
    </p>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    <label>Nombre</label>
    <input type="text" name="nombre" value="{{ producto.nombre }}" required>

    <label>Precio</label>
    <input type="number" step="0.01" name="precio" value="{{ producto.precio }}" required>

    <label>Categoría</label>
    <input type="text" name="categoria" value="{{ producto.categoria }}">

    <label>Características</label>
    <textarea name="caracteristicas" rows="4">{{ producto.caracteristicas }}</textarea>

    <label>Cambiar imagen (opcional)</label>
    <input type="file" name="imagen" accept="image/*">

    <button class="btn" type="submit">Actualizar</button>
  </form>
</div>
{% endblock %}